<form action="/square_root/results" method="get">
  <label for="user_number">Enter a number</label>
  <input id="user_number" type="text" name="user_number" placeholder="What number do you want to square root">
  <button type="submit">Calculate Square Root</button>
</form>
